{
  "public":{
    "disable_blast": false,
    "disable_user_login": false,
    "disable_user_registration": false,
    "disable_header": false,
    "blast_link": "",
    "expression_unit": "My unit",
    "externalSearch": false,
    "redirectSearch": "",
    "redirectSearchAttribute": "",
    "gene_dbxref": [
       {"url": "https://test_url_gene/#GENEID", "label": "my gene label"}
    ],
    "protein_dbxref": [
       {"url": "https://test_url_protein/#PROTEINID", "label": "my protein label"}
    ]
  },
  "externalSearchOptions": {
    "url": "http://0.0.0.0:80",
    "gene_field": "gene_id",
    "annotation_field": "annotation",
    "query_param": "q",
    "field_param": "display_fields",
    "count_param": "max_results"
  }
}
